/*color palette*/
/*#6b9080*/
/*#a4c3b2*/
/*#cce3de*/
/*#eaf4f4*/
/*#f6fff8*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {background-color: #a4c3b2}
aside {background-color: #cce3de}
main {background-color: #eaf4f4}

div.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 10% 85% 5%;
}

header {grid-column: span 20;}
aside.sub-nav {grid-column: span 3}
main {grid-column: span 14;}
aside.side-bar{grid-column: span 3;}
footer {grid-column: span 20;}

header {
    margin: 1em 0;
    padding: 2em;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

header > img {
    height: 1.5em;
    float: left;
    padding: 0 2em 0 0;
}

header a {
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1em;
}

header a:hover {
    background-color: #6b9080;
    color: White;
}

header a.active {
    background-color: #6b9080;
    color: White;
}

aside.sub-nav {
    display: block;
    margin: 0 1em 0 0;
}

aside.side-bar {
    text-align: center;
    display: block;
    margin: 0 0 0 1em;
}

aside > div {
    position: relative;
    text-align: center;
    color: #6b9080;
    padding: 1em 0;
    width: 100%;
    top: 20%;
}

div.sub-nav {
    position: relative;
    display: inline-block;
}

div.active {
    padding: 1em;
    background: #6b9080;
    color: #ffffff;
}

div.dropdown {
    position: absolute;
    width: 100%;
    border: 2px solid #6b9080;
    background: White;
    z-index: 1;
    display: none;
}

div.dropdown a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: Black;
}

div.dropdown a:hover {
    background: #6b9080;
    color: #ffffff;
}

div.sub-nav:hover div.dropdown {
    display: block;
}

aside.sub-nav > div:hover {
    background-color: #6b9080;
    color: #ffffff;
}

div.right-side-container {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    margin: 1em 0 0 0;
    align-items: center;
    justify-content: center;
}

footer > img {
    height: 100%;
    padding: 0 3em;
}
@media
screen and (min-width: 600px) and (max-width:992px) {
    div.grid-container {
        grid-template-rows : 10% 85% 5%;
    }
    header {
        grid-column: span 20;
        margin: 0 0 1em 0;
    }
    aside.sub-nav {grid-column: span 4;}
    main {grid-column: span 16;}
    aside.side-bar {display: none}
    footer {
        grid-column: span 20;
        margin: 1em 0 0 0;
    }
}

@media
screen and (max-width: 600px) {
    div.grid-container {
        grid-template-rows: 8% 7% 80% 5%;
    }

    header {grid-column: span 20;}
    aside.sub-nav {grid-column: span 20}
    main {grid-column: span 20;}
    aside.side-bar {display: none}
    footer {grid-column: span 20;}

    header {
        margin: 0;
        padding: 2em;
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
    }

    aside.sub-nav {
        padding: 0 2em;
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
    }

    aside > div {
        display: flex;
        color: #ffffff;
        align-items: center;
        text-align: center;
        text-decoration: none;
        margin: 0 0.25em;
        padding: 0 0.25em;
        width: auto;
        top: 0%;
    }

    div.sub-nav {
        position: relative;
        display: inline-block;
    }

    div.dropdown {
        right: 0;
        left: 0;
        margin: 0 auto;
        overflow-wrap: break-word;
    }

    footer {
        margin: 0;
    }
}